service password-encryption /* เปิดเจ้านี่ไว้นะ ถ้าจะ Encrypt ตัว password */

hostname PaO-CISCO-VPN-SERVER

aaa new-model

aaa authentication ppp default local
aaa authorization exec default local

ip name-server 1.1.1.1
ip name-server 8.8.8.8

!
vpdn enable
!
vpdn-group L2TP
 ! Default L2TP VPDN group
 accept-dialin
  protocol l2tp
  virtual-template 1
 no l2tp tunnel authentication
!


username pao password 7 <pao-password>


crypto isakmp policy 10
 encr 3des
 authentication pre-share
 group 2
 lifetime 3600
 
crypto isakmp key pao-key address 0.0.0.0 0.0.0.0 no-xauth
crypto isakmp keepalive 3600
!
!
crypto ipsec transform-set pao-transform-set esp-3des esp-sha-hmac
 mode transport
!
!
crypto dynamic-map pao-dynamic-map 10
 set nat demux
 set transform-set pao-transform-set
!
!
crypto map pao-vpn 10 ipsec-isakmp dynamic pao-dynamic-map


interface GigabitEthernet0/0
  description WAN Interface 
  ip address 202.202.202.10 255.255.255.224
  ip nat outside
  ip virtual-reassembly in
  crypto map pao-vpn
!
interface GigabitEthernet0/1
  description Point-to-Point-Inside-Corporate
  ip address 192.168.1.1 255.255.255.252
!
interface Virtual-Template1
 description L2TP-VPN Virtual-Interface
 ip unnumbered GigabitEthernet0/0
 ip nat inside
 ip virtual-reassembly in
 peer default ip address pool pool-vpn
 ppp encrypt mppe 40
 ppp authentication ms-chap-v2
!

ip local pool pool-vpn 10.10.56.10 10.10.56.20


ip nat inside source list nat-vpn interface GigabitEthernet0/0 overload

ip route 0.0.0.0 0.0.0.0 202.202.202.1
ip route 172.16.0.0 255.255.0.0 192.168.1.2

ip access-list standard nat-vpn
 permit 10.10.56.0 0.0.0.255
 remark nat 56-VPN-L2TP
